<% provide(:title, 'Category') %>
<br/><br/>

<h1>Subcategories</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Leaderboard</th>
		</tr>
	</thead>
	<tbody>
		<%= render @subcategories %>
	</tbody>
</table>

