<% provide(:title, "About") %>
<br/><br/>
<h1>About</h1>
<br/><br/>
<p>
  This is a quiz game with quizzes of various generes and subgenere. Different types of questions are there in various quizzes like Multiple​ ​ choice​ ​ Single​ ​ Correct, Multiple​ ​ choice​ ​ Multiple​ ​ Correct, ​ Identify​ ​ the​ ​ object/person​ ​ from
the​ ​ given​ ​ image​, identify​ ​ person​ ​ from​ ​ voice​ ​ clip, etc.
</p>